body {
  padding: 20px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #131b23;
}
h1,
a {
  margin-top: 0px;
  color: #2274a5;
}
label,
p {
  display: block;
  color: #e9f1f7;
}

#status {
  margin: 20px 0px;
  color: #e9f1f7;
}
.button {
  background-color: #2274a5;
  border: none;
  color: #e9f1f7;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
